/* Rounded Mplus 1c - ローカルフォント */
@font-face {
  font-family: 'Rounded Mplus 1c';
  src: url('/fonts/MPLUSRounded1c-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  src: url('/fonts/MPLUSRounded1c-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  src: url('/fonts/MPLUSRounded1c-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  src: url('/fonts/MPLUSRounded1c-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  src: url('/fonts/MPLUSRounded1c-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  src: url('/fonts/MPLUSRounded1c-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  src: url('/fonts/MPLUSRounded1c-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/* Rounded Mplus 1c Bold - Canvas API用（node-canvasと同じファミリー名） */
@font-face {
  font-family: 'Rounded Mplus 1c Bold';
  src: url('/fonts/MPLUSRounded1c-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Zen Maru Gothic */
@font-face {
  font-family: 'Zen Maru Gothic';
  src: url('/fonts/ZenMaruGothic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Zen Maru Gothic';
  src: url('/fonts/ZenMaruGothic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Zen Maru Gothic Bold - Canvas API用（node-canvasと同じファミリー名） */
@font-face {
  font-family: 'Zen Maru Gothic Bold';
  src: url('/fonts/ZenMaruGothic-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Kosugi Maru */
@font-face {
  font-family: 'Kosugi Maru';
  src: url('/fonts/KosugiMaru-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Hachi Maru Pop */
@font-face {
  font-family: 'Hachi Maru Pop';
  src: url('/fonts/HachiMaruPop-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Yusei Magic */
@font-face {
  font-family: 'Yusei Magic';
  src: url('/fonts/YuseiMagic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Dela Gothic One */
@font-face {
  font-family: 'Dela Gothic One';
  src: url('/fonts/DelaGothicOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Reggae One */
@font-face {
  font-family: 'Reggae One';
  src: url('/fonts/ReggaeOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* RocknRoll One */
@font-face {
  font-family: 'RocknRoll One';
  src: url('/fonts/RocknRollOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Reset */
* {
  box-sizing: border-box;
}

/* Spinner Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
